// Override default variables before the import
$body-bg: light;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$body-bg: $dark;
$header-height: 120px;

#qt-header {
    text-align: center;
    padding: 20px;
    position: relative;
    height: $header-height;
    width: 100%;
}

#qt-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 1rem;
}

#qt-footer {
    border-top: 1px solid $dark;
    text-align: center;
    padding: 20px;
    // position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-flow: column;
}
